{% extends "appBanco/base.html" %}
{% load static % }

{% block content %}

<div class="conteiner">
  <div class="item-container">
    <img src="https://cdn-mx.comparabien.com/s3fs-public/field/image/pr%C3%A9stamos%20en%20l%C3%ADnea%20confiables.png"
      alt="no existe imagen" />
    <div class="text-container">
      <p>
        Préstamos seguron y confiables, quieres conocer mas acerca de nustro servicio de préstamos bancarios, haz click
        en
        el boton
      </p>
      <button>Leer mas >> </button>
    </div>
  </div>
</div>

<section class="conteiner-Carrusel" >
  <div class="max-width">
    <div class="carousel owl-carousel">
      <div class="card">
        <div class="box"> 
          <h5>Banca Electrónica</h5>
          <img src="https://images.pexels.com/photos/4199526/pexels-photo-4199526.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="250">

        </div>
      </div>
      <div class="card">
        <div class="box">
          <h5>Servicios Tributarios</h5>
          <img src="https://images.pexels.com/photos/4386339/pexels-photo-4386339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="250"/>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <h5>Modelos de ahorros</h5>
          <img src="https://images.pexels.com/photos/1602726/pexels-photo-1602726.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="250"/>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <h5>Cajero Automático</h5>
          <img src="https://images.pexels.com/photos/5699385/pexels-photo-5699385.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="250"/>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}