<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLFOU4ItO0cvcVHUOL50XmhienF2zifKzXRw&usqp=CAU" sizes="64x64">
    <title>{% block titulo %} Transacciones {% endblock titulo %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% block cuerpo %}
    <h1>Listado Transacciones</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
            <th>Nro. Cuenta</th>
            <th>Tipo Transaccion</th>
            <th>Monto</th>
            <th>Fecha Transaccion</th>
            <th>Opcion</th>
        </tr>
        </thead>
        <tbody>
            {% for transaccion in transacciones %}
            <tr>
                <td>{{transaccion.id_Cuenta}}</td>
                <td>{{transaccion.tipo_Transaccion}}</td>
                <td>{{transaccion.monto_Transaccion}}</td>
                <td>{{transaccion.fecha_Transaccion}}</td>
                <td><button type="button" class="btn btn-warning"><a >Editar</a></button>
                    <button type="button" class="btn btn-danger"><a ">Eliminar</a></a></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock cuerpo %}
</body>
</html>